:root {
    --grid-gap:20px;
    --font-family: "Intro-Book", sant-serif;
    --middle-hight-font: 700 30px / 140% var(--font-family);
    --small-font: 400 14px / 140% var(--font-family);
}
@font-face {
    font-family: "Intro-Book";
    src: url("./font/Intro-Book.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;  
    z-index: 100;
}
.header__container {
    position: relative;
    align-items: center;
    padding: 15px 15px;
}
.header__container::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% - (15px*2));
    height: 100%;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.50);  
    transform: translateX(-50%); 
}
.header__left{
    grid-column: 2 span;
}
.header__right{
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
}
.nav__list{
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child){
    margin-right: 40px;
}
.nav__link{
    color:#fff;
    font: var(--font-family);
}
.cart{
    margin-left: 40px;
}
.card__btn{
    width: 20px;
    height: 20px;
}
.card__btn svg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero{
    position: relative;
    padding: 100px 0px;
    height: 528px;
    background-color: #484283;
}
.hero__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    z-index: 5;
}
.logo {
    color: #FFF;
    line-height: 1;
    font: var(--middle-hight-font);
}
.header__cart {
}
.btn-reset {
}
.cart__btn {
    position: relative;
    width: 20px;
    height: 20px;
}
.cart__count {
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: inline-flex;
    justify-content: center;
    justify-content: center;
    border-radius: 100%;
    height: 16px;
    min-width: 16px;
    color: #FFF;
    font: var(--small-font);
    background-color: #F14F4F;
}
.hero__bg-text {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 70px;
    margin-left: 50px;
    z-index: 0;
    color: rgba(255, 255, 255, 0.12);
    font-family: Intro Bold;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: translate(-50%, -50%);
}
.hero__title {
    margin: 0;
    margin-top: 50px;
    max-width: 580px;
    font: 700 36px / 140% var(--font-family);
    margin-bottom: 20px;
    color: #FFF;
}
.hero__descr {
    font-size: 16px;
    margin-bottom:40px ;
    max-width: calc(50% - 100px);
    font: var(--font-family);
    color: #FFF;
}
/*--------------catalog-----------------*/
.catalog {
    padding: 60px 0px;
}
.title {
    margin: 0;
    margin-bottom: 40px;
    color: #444B58;
    font-family: Intro Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.catalog__left {
    grid-column: 3 span;
}
.catalog__grid {
    grid-column: 9 span;
}

.catalog-list {
    
}
.catalog-list__item {
   grid-template-columns: repeat(12. 1fr);
}
.product {
    grid-column: 4 span;
    overflow: hidden;
    border-radius: 4px;   
}
.product:hover .product__btns{
    opacity: 1;
    visibility: visible;
}
.product__image {
    position: relative;
    width: 100%;  
    max-height: 293px; 
}
img{
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.product__btns {
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.60);
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.product__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
.product__btn:first-child{
    margin-right: 40px;
}
.product__btn:hover {
    background-color: #834257;
}
.product__btn--img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    object-fit: cover;
}
.product__title {
    margin: 0;
    color: #444B58;
    font-family: Intro Book;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product__price {
    color: #444B58;
    font-family: Intro Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.catalog-lists__item {
    grid-column: 9 span;
}
.products{
    grid-column: 3 span;
}